---
layout: default
title: Sitemap
titleBefore:
titleAfter:
meta:
author:
image:
keywords: ""
sectionClass:
includeInNavigation: false
weight: 0
sitemap:
  lastMod: 2016-05-02
  priority: 0.7
  changeFreq: monthly
  include: false
---


<h1 class="brand brand-highlight push exa">{{page.title}}</h1>
<section class="{{page.sectionClass}}" id="{{page.sectionClass}}">

  {% assign pages = site.pages | sort:"weight" %}
  <h4 class="brand-highlight push-0 pad-b-1-2">Pages</h4>
  <ul class="list-group push-0 kilo">
  {% for item in pages %}
    {% if item.layout %}
      {% if item.sitemap.include == false %}{% continue %}{% endif %}
      {% if item.url contains "page2" %}{% continue %}{% endif %}
      <li class="list-group__item text-capitalize"><a href="{{site.baseurl}}{{item.url}}">{{item.title | capitalize}}</a></li>
    {% endif %}
  {% endfor %}
  </ul>

  {% assign items = site.albums | sort:"weight" %}
  <h4 class="brand-highlight push-0 pad-b-1-2 pad-t-1-2">Albums</h4>
  <ul class="list-group push-0 kilo">
  {% for item in items %}
    {% if item.layout %}
      {% if item.sitemap.include == false %}{% continue %}{% endif %}
      {% if item.url contains "page2" %}{% continue %}{% endif %}
      <li class="list-group__item text-capitalize"><a href="{{site.baseurl}}{{item.url}}">{{item.title | capitalize}}</a></li>
    {% endif %}
  {% endfor %}
  </ul>

  {% assign posts = site.posts | sort:"weight" %}
  <h4 class="brand-highlight push-0 pad-b-1-2 pad-t-1-2">News</h4>
  <ul class="list-group push-0 kilo">
  {% for item in posts %}
    {% if item.sitemap.include == false %}{% continue %}{% endif %}
    {% unless item.published == false %}
      <li class="list-group__item text-capitalize"><a href="{{site.baseurl}}{{item.url}}">{{item.title | capitalize}}</a></li>
    {% endunless %}
  {% endfor %}
  </ul>

</section>
