<section class="albums gutter-1-4">
  {% assign albums = site.albums | sort:"album-order"  %}
  {% for album in albums %}

    {% assign loopindex = forloop.index0 | modulo:3 %}

    {% if forloop.first or 0 == loopindex %}
      <div class="grid">
    {% endif %}

      <div class="unit [ xs-1 s-1 m-1-3 ] gutter-1-2 pad-b album-cover">

        <figure class="graphic">
          <a href="{{ site.baseurl }}{{album.url}}">
            <div class="embed embed-iso216">
              <img class="embed-item flex-img" src="{{ album.cover | strip }}" alt="{{ album.title | strip | }}">
            </div>
            <div class="graphic-info">
              <figcaption class="island-1-4">
                <h3 class="media-title push-0 kilo brand-highlight">{{ album.title | strip | capitalize }}</h3>
                <span class="kilo">- view -</span>
              </figcaption>
            </div>
          </a>
        </figure>

      </div>

    {% if forloop.last or 2 == loopindex %}
      </div>
    {% endif %}

  {% endfor %}
</section>
