{% if true == site.instagram-feed %}
  <div class="related-posts">
    <h3 class="push-0 kilo brand-highlight push-1-4">Instagram feed</h3>
    <div class="push-0">
      <script src="//lightwidget.com/widgets/lightwidget.js"></script>
      <iframe src="//lightwidget.com/widgets/0b6f08df58f9954119ddcad3ca6801b34128c717.html" id="lightwidget_0b6f08df58" name="lightwidget_0b6f08df58"  scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
    </div>
  </div>
{% endif %}
