<meta itemprop="description" content="{{ page.meta }}" />
<meta itemprop="url" content="{{site.url}}{{ page.url }}" />
<meta itemprop="isFamilyFriendly" content="{{ page.isFamilyFriendly }}" />
<meta itemprop="keywords" content="{% if page.keywords.size >= 1 %}{% for keyword in page.keywords %}{{keyword}}{% if false == forloop.last %}, {% endif %}{% endfor %}{% endif %}"/>
<meta itemprop="thumbnailUrl" content="{{ page.image }}"/>
<meta itemprop="wordCount" content="{{ page.content | number_of_words }}" />
<meta itemprop="creator" content="{% if nil == page.author %}{{site.author}}{% else %}{{page.author}}{% endif %}"/>
