.highlight .hll { background-color: #ffffcc }
.highlight  { background: #f9f9f9; }
.highlight .c { font-style: italic } /* Comment */
.highlight .err { border: 1px solid #FF0000 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .cm { font-style: italic } /* Comment.Multiline */
.highlight .c1 { font-style: italic } /* Comment.Single */
.highlight .cs { font-style: italic } /* Comment.Special */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gh { font-weight: bold } /* Generic.Heading */
.highlight .gp { font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { font-weight: bold } /* Generic.Subheading */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kn { font-weight: bold } /* Keyword.Namespace */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .s { font-style: italic } /* Literal.String */
.highlight .nc { font-weight: bold } /* Name.Class */
.highlight .ni { font-weight: bold } /* Name.Entity */
.highlight .ne { font-weight: bold } /* Name.Exception */
.highlight .nn { font-weight: bold } /* Name.Namespace */
.highlight .nt { font-weight: bold } /* Name.Tag */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .sb { font-style: italic } /* Literal.String.Backtick */
.highlight .sc { font-style: italic } /* Literal.String.Char */
.highlight .sd { font-style: italic } /* Literal.String.Doc */
.highlight .s2 { font-style: italic } /* Literal.String.Double */
.highlight .se { font-weight: bold; font-style: italic } /* Literal.String.Escape */
.highlight .sh { font-style: italic } /* Literal.String.Heredoc */
.highlight .si { font-weight: bold; font-style: italic } /* Literal.String.Interpol */
.highlight .sx { font-style: italic } /* Literal.String.Other */
.highlight .sr { font-style: italic; } /* Literal.String.Regex */
.highlight .s1 { font-style: italic; } /* Literal.String.Single */
.highlight .ss { font-style: italic; } /* Literal.String.Symbol */


.css .o,
.css .o + .nt,
.css .nt + .nt { color: #999; }

.highlight {
  text-align: left;
}

.highlight pre,
pre.highlight {
  white-space: pre-wrap;
}


.highlight > pre,
pre.highlight {
  padding: 1.3rem;
}

.highlight .gutter {
  padding: 0;
}

/* Make line numbers unselectable: excludes line numbers from copy-paste user ops */
.highlight .lineno {-webkit-user-select: none;-moz-user-select: none; -o-user-select: none;}
.lineno::-moz-selection {background-color: transparent;} /* Mozilla specific */
.lineno::selection {background-color: transparent;} /* Other major browsers */

@media only screen and (min-width: 25em) {

  .highlight > pre,
  pre.highlight {
    padding: 1.4rem;
  }

}

@media only screen and (min-width: 38em) {

  .highlight > pre,
  pre.highlight {
    padding: 1.5rem;
  }

}

@media only screen and (min-width: 60em) {

  .highlight > pre,
  pre.highlight {
    padding: 1.6rem;
  }

}

@media only screen and (min-width: 90em) {

  .highlight > pre,
  pre.highlight {
    padding: 1.7rem;
  }

}
