<form class="form form-contact pad-t-1-2" data-title="form-contact" method="POST" action="https://formspree.io/{{site.email}}">

<div class="form-contact-notification hidden push-1-2 gutter-1-2 pad-t-1-4 pad-b-1-4 milli"></div>

<div class="field-list">

  <fieldset class="form-item form-name required">
    <div class="form-title milli">Name <span class="">*</span></div>
    <legend class="hidden">Name</legend>

    <div class="grid">
      <div class="unit [ xs-1 s-1-2 ] form-first-name-container">
        <label class="caption milli" for="form-contact--first-name">
          <input class="field-element text island-1-4" type="text" x-autocompletetype="first-name" type="text" spellcheck="false" maxlength="30" data-title="form-contact--first-name" name="form-contact--first-name" id="form-contact--first-name" tabindex="1" />
          First name
        </label>
      </div>

      <div class="unit [ xs-1 s-1-2 ] form-last-name-container">
        <label class="caption milli" for="form-contact--last-name">
          <input class="field-element text island-1-4" type="text" x-autocompletetype="last-name" type="text" spellcheck="false" maxlength="30" data-title="form-contact--last-name" name="form-contact--last-name" id="form-contact--last-name" tabindex="2" />
          Last name
        </label>
      </div>
    </div>

  </fieldset>

  <fieldset class="form-item form-contact--email-address required">
    <legend class="hidden">E-mail</legend>
    <div class="">
      <label class="title milli" for="form-contact--email-address">Email Address <span class="required">*</span></label>
      <input class="field-element text island-1-4" type="email"  x-autocompletetype="email-address" spellcheck="false" data-title="form-contact--email-address" name="form-contact--email-address" id="form-contact--email-address" tabindex="3" />
    </div>
  </fieldset>

  <fieldset class="form-item form-contact--subject required">
    <legend class="hidden">Subject</legend>

    <div class="">
      <label class="title milli" for="form-contact--subject">Subject <span class="required">*</span></label>
      <input class="field-element text island-1-4" type="input" data-title="form-contact--subject" name="form-contact--subject" id="form-contact--subject" tabindex="4" />
    </div>
  </fieldset>

  <fieldset class="form-item form-contact--message required">
    <legend class="hidden">Message</legend>

    <div class="">
      <label class="title milli" for="form-contact--message">Message <span class="required">*</span></label>
      <textarea class="field-element text island-1-4" data-title="form-contact--message"  name="form-contact--message" id="form-contact--message" tabindex="5" ></textarea>
    </div>

  </fieldset>

</div>

<div class="form-button-wrapper">
  <input class="button gutter-2 pad-t-1-4 pad-b-1-4 form-btn milli" type="submit" value="Send it."/>
</div>

<input class="hidden" type="text" name="_format" value="plain" />
<input class="hidden" type="hidden" name="_subject" value="Website submission from {{site.website-title}}" />
<input class="hidden" type="hidden" name="_next" value="{{site.baseurl}}/contact-form-thanks/" />
<input class="hidden" type="text" name="_replyto" placeholder="{{site.email}}" />

</form>
